@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;700&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    padding: 1em;
}

p {
    padding: 1em;
}

h2 {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}
#name {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    font-size: 6vw;
}

#prof { 
    position: relative;
    top: 175px;
    font-size: 3vw; 
}

.column {
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.row:hover img {
	opacity: .5;
}


img {
    width: 100%;
    max-width: 20%;
}

#mz2 {
    width: 100%;
    max-width: 35%;
    position: relative;
    padding: 50px;
    border-radius: 56px;
}

.subh {
    padding-left: 0.5em; padding-top:0.5em; font-size: 5vw;
}

#bord {
    border-style: solid; 
    border-width: 10px; 
    border-left-width: 10px; 
    border-right-width: 10px; 
    border-color: #212121;
}

#mz {
    position: relative;
    top: 5.5em;
    max-width: 200px;
    z-index: 100;
    border-radius: 4px;
}

#header1 {
    position: relative;
    text-align: center;
    background-color: #f57C00;
    vertical-align: middle;
    height: 200px;
    padding: 10px;
}
#header2 {
    height: 300px;
    text-align: center;
    background-color: #727272;
}

body {
    display: block;
    margin: 8px;
}

@media only screen and (max-width: 750px) {
    .column {
        width: 100%;
    }
    #mz2 {
        left: 2em;
        width: 100%;
        max-width: 75%;
        position: relative;
        padding: 20px;
        overflow: hidden;
    }
}